#content-container {
  margin-left: 60px;
  transition: all 0.5s ease-in-out;
  .footer {
    margin: 20px 20px 0px 20px;
    padding: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgba($color: black, $alpha: 0.7);
    p {
      margin: 0;
    }
  }
  &.mobile-view {
    margin: 0!important;
  }
}

.navbar-active {
  margin-left: 150px!important;
  transition: all 0.5s ease-in-out;
}
.header {
  border-bottom: 1px solid;
  padding-bottom: 30px;
  margin-bottom: 50px;
}
.page-padding {
  padding: 30px 50px 30px 50px;
}
.title {
  text-align: left;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
}