#content-container {
  margin-left: 60px;
  transition: all 0.5s ease-in-out;
  .footer {
    margin: 20px 20px 0px 20px;
    padding: 10px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgba($color: black, $alpha: 0.7);
    div {
      padding: 0;
      p {
        text-align: left;
        margin: 0;
      }
    }
    .footer-btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      ul{
        padding-left: 70px;
      }
    }
  }
  &.mobile-view {
    margin: 0!important;
  }
}

.navbar-active {
  margin-left: 150px!important;
  transition: all 0.5s ease-in-out;
}
.header {
  border-bottom: 1px solid;
  padding-bottom: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  .up-down-btn {
    margin: 0;
  }
}
.page-padding {
  padding: 30px 50px 30px 50px;
}
.title {
  text-align: left;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
}

@media only screen and (max-width: 414px) {
  .page-padding {
    padding: 30px 30px 30px 30px;
  }
  .header {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .footer {
    padding: 10px 20px 10px 20px!important;
    flex-direction: column-reverse!important;
    .footer-btn {
      align-items: center;
      ul {
        padding: 0!important;
      }
    }
    p {
      margin: 20px 0px 20px 0px!important;
      text-align: center!important;
      font-size: calc(12px + 1vw);
    }
  }
}