@import './variables';

.horizontal-navbar {
  height: 100px;
  background-color: $light-black;
  display: flex;
  justify-content: space-around;
  font-size: 1.5vw;
  width: 100%;
  z-index: 2;
  a {
    color: $light-grey;
    font-weight: 700;
    text-decoration: none;
  }
  .toggle-btn {
    border: 3px solid $light-green;
    background-color: transparent;
    border-radius: 5px;
    span {
      color: $light-green;
      font-size: calc(32px + 1vw);
      transition: all .3s ease-in-out;
      &.toggled {
        transform: rotate(90deg);
      }
    }
  }
}

.scroll-navbar {
  height: 80px;
  transition: all 0.5s ease-in-out;
  position: fixed!important;
}