.pagination-block {
  display: flex;
  justify-content: center;
  margin-top:20px;
  .pagination {
    list-style-type: none;
  }
  
  .pagination-item {
    display: inline-block;
    button {
      margin: 0px 5px 0px 5px;
      font-size: calc(8px + 1vw);
      background-color: transparent;
      border-color: white;
      color: white;
      &:disabled {
        border-color: $darker-grey;
        color: $darker-grey;
      }
    }
  }
  
  .pagination-item__active {
    border-color: $light-green!important;
    color: $light-green!important;
  }
}