$violet: #ff99ff;
$blue: #66ffff;
$light-blue:#DAF2EF;
$light-black: #262626;
$light-grey: #f2f2f2;
$medium-grey: #d9d9d9;
$darker-grey: #6a6c6b;
$light-green:#9cbc67;

//fonts
@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');


