@import './horizontal-navbar';
@import './vertical-navbar';
@import './variables';
@import './page404';
@import './home';
@import './animations';
@import './loading-spinner';
@import './transitions';
@import './pagination';
@import './_follow-page';

@import './view-component/contact';
@import './view-component/portfolio';

body {
  margin: 0;
  font-size: 16px;
  overflow-x: hidden !important;
}

#app {
  position: relative;
  background-image: url('../images/backgrounds/page-background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  font-family: 'Gotu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  h1 {
    font-size: calc(32px + 1vw);
  }
  h2 {
    font-size: calc(12px + 1vw);
  }
}

.vertical-align {
  align-items: center;
  display: flex;
  justify-content: center;
}
.hover-text-effect {
  &:hover {
    background: -webkit-linear-gradient($violet, $blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.hover-invert {
  transition: all 0.3s ease-in-out;
  &:hover {
    filter: invert(100%);
    transition: all 0.3s ease-in-out;
  }
}
.title {
  font-family: 'Roboto', sans-serif;
  text-align: left;
}
.lh-5 {
  line-height: 5;
}