#contact {
  height: auto;
  margin: 20px;
  background-color: rgba($color: black, $alpha: 0.7);
  .contact-block {
    margin: 0px 40px 0px 40px;
    .contact-links {
      margin: 40px 0px 40px 0px;
      display: flex;
      flex-wrap: wrap;
      .contact-links__item {
        flex:1 0 21%;
        padding: 10px;
        transition: all .3s ease-in-out;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        .material-icons{
        font-size: calc(32px + 1vw);
        color: $light-green;
        }
        a {
          color: white;
          text-decoration: none;
          margin: 10px;
          word-break: break-word;
        }
        &:hover {
          border-radius: 5px;
          -webkit-box-shadow: inset 0px 0px 0px 5px rgba($light-green ,0.75);
          -moz-box-shadow: inset 0px 0px 0px 5px rgba($light-green ,0.75);
          box-shadow: inset 0px 0px 0px 5px rgba($light-green ,0.75);
          transition: all .3s ease-in-out;
        }
      }
    }
  }
  .email-block {
    margin: 0px 40px 0px 40px;
    .email-block__item {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      input {
        color: white;
        margin-top: 10px;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        height: 44px;
        padding: 0 10px;
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 26px;
        font-weight: 500;
        border: 0;
        border: 2px solid rgba($color: white, $alpha: .4);
        background: none;
        resize: none;
        vertical-align: middle;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
      }
      textarea {
        color: white;
        height: 100%;
        padding: 5px 10px;
        margin-bottom: 20px;
        min-height: 260px;
        resize: vertical;
        margin-top: 10px;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        height: 44px;
        padding: 0 10px;
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 26px;
        font-weight: 500;
        border: 0;
        border: 2px solid rgba($color: white, $alpha: .4);
        background: none;
        resize: none;
        vertical-align: middle;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
      }
    }
  }
  .btn-block {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0px 10px 0px 10px;
    .btn {
      font-family: 'Roboto', sans-serif;
      margin-left: 20px;
      border: 2px solid;
      &.btn-submit {
        color: $light-green;
        border-color: $light-green;
        &:hover {
          background-color: $light-green;
          color: black;
        }
      }
      &.btn-clear {
        color: $darker-grey;
        border-color: $darker-grey;
        &:hover {
          background-color: $darker-grey;
          color: white;
        }
      }
    }
  }
}