#portfolio {
  height: auto;
  margin: 20px;
  background-color: rgba($color: black, $alpha: 0.7);
  position: relative;
  .portfolio-content {
    .header{
      .title-portfolio {
        display: flex;
        justify-content: space-between;
        .up-down-btn {
          display: none;
        }
      }
      &.row {
        margin: 0;
      }
    }
    .search-box {
      display: flex;
      justify-content: flex-end;
      input {
        border: 0;
        font-size: calc(8px + 1vw);
        color: white;
        background: transparent;
        max-width: 250px;
      }
      span{
        font-size: calc(22px + 1vw);
        cursor: pointer;
        transition: all .1s ease-in-out;
        &:hover {
          color: $light-green;
          transition: all .1s ease-in-out;
        }
      }
    }
    .projects {
      display: flex;
      flex-wrap: wrap;
      min-height: 500px;
      margin: 30px 0px 30px 0px;
      .projects__item {
        margin: 10px;
        flex: 1 0 48%;
        display: flex;
        justify-content: space-evenly;
        @include card-grey;
        @include hover-light-green;
        .box-img {
          flex: 1;
          margin: 30px;
        }
        .project-infor {
          flex: 3;
          th {
            text-align: left;
            font-size: calc(2px + 1vw);
          }
        }
      }
    }
    .error-banner {
      min-height: 500px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #portfolio {
    .portfolio-content {
      .header {
        .title-portfolio {
          display: flex;
          justify-content: space-between;
          .up-down-btn {
            margin: 0;
            display: inline-block;
          }
        }
        .search-box {
          margin-top: 20px;
          justify-content: space-between;
        }
        .btn-pc-view{
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
#portfolio {
  .portfolio-content {
    .projects {
      .projects__item {
        margin: 10px 0px 10px 0px;
        flex: 1 0 100%;
        .box-img {
          height: 60px;
          width: 90px;
          margin: 10px;
        }
        .project-infor {
          th {
            font-size: calc(6px + 1vw);
          }
        }
      }
    }
    }
  }
}