#portfolio {
  height: auto;
  margin: 20px;
  background-color: rgba($color: black, $alpha: 0.7);
  position: relative;
  .portfolio-content {
    .header{
      margin-bottom: 0;
    }
    .search-box {
      display: flex;
      justify-content: flex-end;
      input {
        border: 0;
        font-size: calc(8px + 1vw);
        color: white;
        background: transparent;
        max-width: 250px;
      }
      span{
        font-size: calc(22px + 1vw);
        cursor: pointer;
        transition: all .1s ease-in-out;
        &:hover {
          color: $light-green;
          transition: all .1s ease-in-out;
        }
      }
    }
    .projects {
      display: flex;
      flex-wrap: wrap;
      min-height: 500px;
      margin: 30px 0px 30px 0px;
      .projects__item {
        margin: 10px;
        flex: 0 0 48%;
        display: flex;
        justify-content: space-evenly;
        background-color: rgba($color: $light-grey, $alpha: 0.1);
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          -webkit-box-shadow: inset 0px 0px 0px 5px rgba($light-green ,0.75);
          -moz-box-shadow: inset 0px 0px 0px 5px rgba($light-green ,0.75);
          box-shadow: inset 0px 0px 0px 5px rgba($light-green ,0.75);
          transition: all .3s ease-in-out;
          color: $light-green;
        }
        .box-img {
          flex: 1;
          margin: 30px;
        }
        .project-infor {
          flex: 3;
          th {
            text-align: left;
            font-size: calc(2px + 1vw);
          }
        }
      }
    }
    .error-banner {
      min-height: 500px;
    }
  }
}